    {% include header.html %}
    <header>
      <div class="inner">
        <h1>Robotodex</h1>
       <h2>An army of illustrated robots by <a href="http://broccolini.net">broccolini</a></h2>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
          <div class="robots">
          {% for post in site.posts %}
            {% if post.excerpt_tag %}
              {{ post.excerpt_tag | markdownify }}
            {% else %}
              <div class="shell">
              <a href="{{ post.url }}">{{ post.content }}
              <h3>{{ post.title }}</a></h3>
              </div>
            {% endif %}
          {% endfor %}
          </div><!--  End shell  -->
        </section>

      </div>
    </div>
     {% include footer.html %}